body
{
	background-color:black;
}

#warpper
{
	margin: auto;
	width:45%;
	
}

#MainImage{
width:600px;
height:400px;
    }
imgg
{
	
	width:600px;
	height:400px;
}
.choix
{
	
	width:197px;
	height:160px;
   opacity:.5;
position: relative;

}

#bouton
{
	margin: auto;
	width:600px;
	height:40px;
    border-radius: 20px;
	
}

				        
