<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/1ercss.css" />
    <title>examens html rafaa lounis gr 414</title>
</head>
<body style="background-color: black;">

    
    <div class="loader">
        <div class="face">
          <div class="circle"></div>
        </div>
        <div class="face">
          <div class="circle"></div>
        </div>
      </div>
      <%-include('./partials/menu')%>
</body>
</html>