<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./partials/menu')%>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/2emecss.css">
        <title>Culture interieur de cannabis</title>
    </head>
    <body>
        
        <ol class="ol"><h2><b>Liste de contenue</b></h2>
            <hr>
    
            <a href="#cultiver du cannabis"><li>Comment cultiver du cannabis dans un armoire de culture interieur</li></a><br>
            <a href="#Eclairage culture"><li>Eclairage culture interieur</li></a><br>
            <a href="#Ventilation"><li>Ventilation des plantes de cannabis</li></a><br>
            <a href="#Température et humidité"><li>Température et humidité dans l'armoire de culture</li></a><br>
            <a href="#Arrosage et engrais"><li>Arrosage et engrais pour cannabis</li></a><br>
            <a href="#Traitement phytosanitaires"><li>Traitement phytosanitaires pour cannabis</li></a><br>
            <hr>
        </ol>
    
        <div id="cultiver du cannabis">
        <ol> 
        <h2><b>I) cultiver du cannabis dans un armoire de culture interieur</b></h2> 
        <br>
            <ul>Type de culture: A partir de graines de cannabis</ul><br>
            <ul>Densité de culture: 12 plantes par m2</ul><br>
            <ul>Moyen de culture: Terre</ul><br>
        </div>
        <div id="Eclairage culture">
        </ol>
      
       <ol><b><h2>II)&nbsp;Eclairage culture</h2> </b> <br> </ol>
    
            <li>Les ampoules doivent se placer à <b>50/60</b> cms de la cîme des plantes (avec de lampe sodium HPS de<b> 600 watts</b>) ou à <b>35/40 cms</b> (avec les HPS <b>400 watts</b>)</li><br>
            <li>Pendant la  période de <b>croissance</b> les plantes de cannabis ont besoin de <b>18 heures de lumière et de 6 heures d'obscurité.</b> Ce cycle doit se prolonger pendant deux semaines ou jusqu'a ce que la plante mesure <b>25 cm environ.</b></li><br>
            <li>Pendant la  période  de floraison les plantes de cannabis ont besoin de 12 heures de lumière et de 12 heures d'obscurité totale.</li><br>
        
        
        <P>Selon les variétés, la durée de floraison peut varier entre 50 et 70 jours, et même au-delà pour certaines sativas.</P>
        <div class="image-cannabis">
           <center><img src="../images/armoire-de-culture-interieur.jpg" alt="culture "></center> 
        </div>
        <div id="Ventilation"></div>
        <ol><h2><b>III) Ventilation des plantes de cannabis</b></h2>
            <hr>
            <ul><p>l'extracteur air par sa puissance peut également servir d'intracteur (intraction passive).<br>
    
                L'extracteur doit toujours être activée  pendant que la lumière est allumée. <br>
    
                 Durant la phase d'obscurité il faut garder l'extraction allumée 15 minutes toutes les heures, <br>
    
                  puis pendant les dernières semaines de floraison passer à 15 minutes chaque demi heure. <br>
    
                   Dans le cas d'une hygrométrie supérieure à 90%  il faut laisser l'extraction activée pendant 24 
                   heures.</p>
            </ul>
        </div>
        <div id="Température et humidité">
            <ol><h2> <b>V) Température et humidité dans l'armoire de culture</b></h2>
                <br>
                        <ul>La température dans l'armoire ne doit pas dépasser 31° maximum,  ni baisser sous les 17° minimum, la température idéale se situant entre 20° et 28°.</ul><br>
                        <ul>L'hygrométrie ne doit pas dépasser les 75% ni baisser sous les 20%. Les valeurs doivent idéalement se situer entre 40% et 60% . Des pointes à 90% peuvent survenir mais elles doivent rester ponctuelles. Le thermo hygromètre est nécessaire pour contrôler l'ambiance de nos cultures.</ul><br>
                        <div class="imag2">
                            <center>
                            <img src="../images/armoire-de-culture.jpg" alt="armoire-de-culture">
                            <img src="../images/aspect-dune-armoire-de-culture-pour-cannabis.jpg">
                        </center>
                        </div>
                
                    </ol>
                    <br>
                    <br>
                </div>
                <div id="Arrosage et engrais">
                    <ol> <h2><b>IV) Arrosage et engrais pour cannabis</b></h2> <br>
                        <br>
                        <br>
                                <ul>Les graines de cannabis ont besoin d'un arrosage abondant dès que le rempotage est effectué (1/2 litre par plant). Deux jours plus tard, on pourra rajouter 150ml par plante et par jour. Un pulvérisateur peut s'avérer très utile.</ul><br>
                                <ul>En début de floraison, il est nécessaire d'augmenter les quantités jusqu'à 250 ml par plante et par jour</ul><br>
                                <ul>En fin de floraison (2 derniéres semaines), il faut réduire les quantités jusqu'à 150 ml par plante et par jour</ul><br>
                                <ul>Avant chaque arrosage, il faut bien s'assurer que la terre est sèche. Si ce n'est pas le cas et qu'elle est encore humide,  il faudra attendre un jour ou deux</ul><br>
                                <ul>Ces indications ne sont qu'une référence pour aider à trouver le point d' arrosage optimal. Celui-ci variera en fonction de la saison et des conditions de culture de chacun</ul><br>
                                <ul>Les  arrosages avec ajouts d'engrais se feront une fois sur deux (un arrosage à l'eau claire, un arrosage avec de l'engrais et ainsi de suite )</ul><br>
                                <ul>Il est important de suivre les dosages et les tableaux d'application recommandé par les fabriquants d'engrais.1</ul><br>
                            </ol>
                    <ol>
                    </div>
                    <div id="Traitement phytosanitaires">
                    <ol><h2> IV) Traitement phytosanitaires pour cannabis <br></h2></ol>
                        <ul>il est recommandé d'effectuer un traitement phytosanitaire en pulvérisant insecticide et fongicide la première semaine de croissance et au début de la floraison.</ul>
                        <ul>
    
                    <iframe
                     width="1225" height="687" src="https://www.youtube.com/embed/W_hNiLZ8uAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
                        </ul>
    
                    </ol>
                </div>
                <h2> <center>  IMPORTANT ! </center><br>
                    <hr>
                     je vous  rappelles que la culture de graines de cannabis sur le territoire québécois est fortement interdit par la loi. 
                     je n’encourage nullement à enfreindre la loi et  je ne suis en aucun cas responsables de l'usage que vous en ferez.</h2>
                     <hr>
    </body>
    </html>
<h2>vide</h2>
</body>
</html>