
    <table id="table">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>
            <% print.forEach(function (user) {%>
                <tr>
                    <td><%= user.Nom %></td>
                    <td><%= user.Prenom %></td>
                </tr>

            <% }) %>
        </tbody>
    </table>
